.resetPasswordSection .resetPasswordForm .authTitle {
  font-size: 27px;
}
.resetPasswordSection .resetPasswordForm .emailWord{
  font-size: 25px;
}

.code {
  background-image: url("/codeIcon.svg");
}

.input-boxPass2 {
  position: relative;
}


  .arrowIcon{
    width: 20px;
    position: absolute;
    top:2%;
    left: 5%;
    
  }



@media (min-width: 650px) and (max-width: 938px) {
    .resetPasswordSection {
      width: 80%;
    }
    .resetPasswordSection .resetPasswordForm {
      width: 100%;
    }
  }

  @media (min-width: 650px) and (max-width: 800px) {
    .resetPasswordForm::after{
      border-top: 100px solid #f49a0b;
      border-left: 90px solid transparent;
    }
    .resetPasswordSection .resetPasswordForm .emailWord{
      font-size: 25px;
  
    }
    
  }
  @media (min-width: 551px) and (max-width: 650px) {
    .resetPasswordForm .authTitle{
      font-size: 25px;
    }
    .resetPasswordSection {
      width: 90%;
    }
    .resetPasswordSection .infoPara{
      font-size: 22px;
    }

    
    .resetPasswordSection .eyeIconM ,.resetPasswordSection .arEyeIcon , .resetPasswordSection .eyeIcon2  {
    
    width:22px;
    left: 2%;
  }
  .resetPasswordSection .enEyeIcon{
    position: absolute;
    right: 2.5%;
    width:22px;
    margin-left: auto;
  }
    
  
  
    .resetPasswordSection .resetPasswordForm input {
      font-size: 15px;
      width: 100%;
    }
  }


  @media (min-width: 320px) and (max-width: 550px) {
    .resetPasswordSection .resetPasswordForm .authTitle {
      font-size: 22px;
    }
    .resetPasswordSection {
      width: 98%;
    }
    .resetPasswordSection .resetPasswordForm {
      width: 100%;
      padding: 2px;

    }
  
    .resetPasswordSection .resetPasswordForm input {
      font-size: 15px;
      width: 95%;
        }
  
    .resetPasswordSection .resetPasswordForm .submitBtn {
      width: 100%;
      font-size: 18px;
    }

    .resetPasswordForm .infoPara{
      font-size: 22px;
    }
    .resetPasswordSection .resetPasswordForm .emailWord{
      font-size: 28px;
  
    }

  .resetPasswordForm::after{
        border-top: 90px solid #f49a0b;
        border-left: 80px solid transparent;
      }
  .arrowIcon{
    width: 20px;
    
  }
  }


  /* @media (min-width: 320px) and (max-width:380px) {
    .resetPasswordSection .resetPasswordForm .authTitle {
        font-size: 20px;
    }
    
    .resetPasswordSection {
        width: 98%;
      }
      .resetPasswordSection .resetPasswordForm {
        width: 100%;
        padding: 0px;
      }
    
      .resetPasswordSection .resetPasswordForm input {
        font-size: 15px;
        width: 100%;
      }
    
      .resetPasswordSection .resetPasswordForm .submitBtn {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
      }
  
      .resetPasswordSection .resetPasswordForm .infoPara{
        font-size: 22px;
      }
      .resetPasswordSection .resetPasswordForm .emailWord{
        font-size: 20px;
    
      }
    .resetPasswordForm::after{
          border-top: 80px solid #f49a0b;
          border-left: 70px solid transparent;
        }
        .resetPasswordSection .resetPasswordForm .arrowIcon{
      width: 20px;
      position: absolute;
      top:2%;
      left: 5%;
      
      
    }
    

    .loginSys video{
      display: none;
     }
      
  } */

