.forgetPasswordForm .authTitle {
  font-size: 27px;
}

.infoPara {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #020c4d;
}

.emailWord {
  font-size: 30px;
  color: red;
  text-transform: capitalize;
}

.arrowIcon{
    width: 35px;
    
  }
  @media (min-width: 650px) and (max-width: 938px) {
    .forgetPasswordSection {
      width: 70%;
    }
    .forgetPasswordSection .forgetPasswordForm {
      width: 100%;
    }
   
  }

  @media (min-width: 650px) and (max-width: 800px) {
    .forgetPasswordForm .authTitle{
        font-size: 25px;
      }
    .forgetPasswordForm::after{
      border-top: 90px solid #f49a0b;
      border-left: 80px solid transparent;
    }
    
  }
  @media (min-width: 551px) and (max-width: 649px) {
    .forgetPasswordSection {
      width: 80%;
    }
    .forgetPasswordSection .forgetPasswordForm {
      width: 100%;
      padding: 2px;
    }
  
    .forgetPasswordSection .forgetPasswordForm input {
      font-size: 15px;
      width: 85%;
    }
  
  }
  
  @media (min-width: 320px) and (max-width: 550px) {
    .forgetPasswordSection {
      width: 98%;
    }
    .forgetPasswordSection .forgetPasswordForm {
      width: 100%;
      padding: 2px    }
  
    .forgetPasswordSection .forgetPasswordForm input {
      font-size: 15px;
    width: 95%;
    }
  
    .forgetPasswordSection .forgetPasswordForm .submitBtn {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
    }
    .forgetPasswordForm .infoPara{
      font-size: 22px;
    }
    .forgetPasswordForm .emailWord{
      font-size: 23px;
  
    }

      .forgetPasswordForm::after{
        border-top: 80px solid #f49a0b;
        border-left: 70px solid transparent;
      }
      .arrowIcon{
        width: 20px;
        margin-bottom: 2px;
        
      }
    
      .loginSys video{
        display: none;
       }
  }
  

